<section class="login">
    <div class="pictur ">
        <img src="../../assets/imgs/login/recorect.png" class="" alt="">
        <div class="layer"></div>
    </div>
    <div class="rightLogin">
        <div>
           
            <div class="forms">            
                <h3>New password</h3>

                <form [formGroup]="EditPassForm" (ngSubmit)="supmitEditPassForm()" action="">
                    
                    <div>
                        <input formControlName="past_Password" class="pass"placeholder="New password" type="password">
                        
                    </div>
                    <div>
                        <input formControlName="new_Password" class="pass"placeholder="Confirm new password" type="password">
                        
                    </div>
                    
                    <div class="comit">
                        <p class="text-start"><span class="text-danger ">*</span> Password Is Not correct</p>
                    </div>
                    <a routerLink="/recorrect" class="btn">Save</a>
                </form>
            </div>
        </div>
       

    </div>
</section>