<section>
    <p> <span class="blu">BedType :</span> Type1</p>
    <p><span class="blu">BabyName :</span> Mark Jon</p>
    <p><span class="blu">Age :</span> 3 Days</p>
    <p><span class="blu">Type of illness :</span> Bradycardia</p>
    <span class="blu">pharmaceutical :</span>
    <ul>
      <li>Type1</li>
      <li>Type2</li>
      <li>Type3</li>
      <li>Type4</li>
    </ul>
    <span class="blu">Description of the daily situation :</span>
    <p>lorem ipsum dolor sit amet consectetur adipiscing elit . lorem ipsum dolor sit amet consectetur adipiscing elit .
      lorem ipsum dolor sit amet consectetur adipiscing elit . </p>
  </section>