nav{
background: linear-gradient(180deg, #01909A 0%, rgba(255, 255, 255, 0) 130%);

display: flex;
align-items: center;
padding: 10px 25px ;

.logo{
img{
margin-left: 25px;
}
width: 25%;
}
.contatin{
width: 80%;
display: flex;
justify-content: space-between;
.links{
padding: 0px;
display: flex;
justify-content: space-around;
align-items: center;
li{
list-style-type: none;
a{
display: block;
text-decoration: none;
font-weight: 600;
font-size: 16px;
line-height: 36px;
/* identical to box height */
width: 133px;
height: 49px;
text-align: center;

color: #FFFFFF;

}
}
}
}
}
.active{
padding: 5px 10px 10px 5px;
border: 2px solid #94f2f9;
border-radius: 30px;
}
.profile{
font-size: 16px;
line-height: 36px;
width: 133px;
height: 49px;
text-align: center;
color: #FFFFFF;
position: relative; 
cursor: pointer;
   
}
.Account{
    opacity: 0;
    width: 280px;
    padding: 4px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 4px  #94f2f9;
    color: #01909A;
    position: absolute;
    top: 110%;
    right: 20%;
    text-align: left;
    font-size: 12px;
    transition: all .05s;
    img{
      width: 75px;
      height: 75px;
      border-radius:50% ;  

    }
    span{
      color: black;
    }
}
.profile:hover .Account{
opacity: 1;
}
.name{
  display: flex;
  align-items: center;
  span{
    margin-left: 20px;
    color: black;
    font-size: 17px;
  }
}
.logout{
 cursor: pointer; 
}