<section class="login">
    <div class="pictur ">
        <img src="../../assets/imgs/login/sucss.png" class="" alt="">
        <div class="layer"></div>
    </div>
    <div class="rightLogin">
        <div>
           
            <div class="signup">            

                <h4>Sign up as</h4>

                <div class="tybe">
                    <a routerLink="/personRegister" class="w-25">

                        <img src="../../assets/imgs/login/person 1.svg" alt="">
                        <h2 class="person">Person</h2>
                    </a>
                    <a routerLink="/incubationRegister" class="w-25">

                        <img src="../../assets/imgs/login/Incubation 1.svg" alt="">
                        <h2 class="staf">Incubation</h2>
                    </a>
                   
                </div>
              
            </div>
        </div>
       

    </div>
</section>