<section class="beds">
    <h3>Beds</h3>
    <div class="box">
      <div class="baby">
        <p>baby name</p>
      </div>
      <div class="baby">
        <p>baby name</p>
      </div>
      <div class="baby">
        <p>baby name</p>
      </div>
      <div class="baby">
        <p>baby name</p>
      </div>
      <div class="baby">
        <p>baby name</p>
      </div>
      <div class="baby">
        <p>baby name</p>
      </div>
      <div class="available">
        <p>Available</p>
      </div>
      <div class="available">
        <p>Available</p>
      </div>
    </div>
  
  
  
  
  </section>
  