section{
margin: 200px auto 50px auto ;
a{
  text-decoration: none;
}
}
.count{
margin: 20px auto auto auto;
width: 70%;
height: 105px;
background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 10px;
display: flex;
padding: 5px;
ul{
    list-style-type: none;
}
.name{

  width: 100px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #01909A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}
.details{
padding-top: 10px;
width: 187px;
height: 62px;



font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #A4A4A4;

}
}