<section class="beds ">
    <h3>BooKing List</h3>
  
   
        <div class="list">
          <div *ngFor="let Book of Booking" class="box  ">
            <div class="baby">
            <p class="name">{{Book.childName}}</p>
            <p class="tybe">{{Book.typeofIllness}}</p>
            <p class="date">{{Book.dateofBooking}}</p>
            </div>
            <div class="layer"><i class="fa-solid fa-eye"></i></div>

          </div>
          
       
       
        </div>
      
      
     
    
  
  </section>
  