.box-img {
    background-image: url(../../assets/imgs/login/bed.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 408px;
    position: relative;
  }
  
  .layer {
    position: absolute;
    inset: 0;
    background: linear-gradient(265.41deg, rgba(0, 255, 239, 0.31) 0%, rgba(1, 144, 154, 0.31) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    h2 {
      width: 291px;
      height: 29px;
      left: 579px;
      top: 209px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: #FFFFFF;
    }
  }
  
  .zrar {
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 47px;
    background: linear-gradient(90deg, #00FFEF -49.62%, #01909A 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    margin: 30px 0px;
    border: transparent;
  }
  
  .mapp {
    
    margin-top: 40px;
  
  }
  .count{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
  }
  .heart {
   
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
    i{
      margin: 2px;
      color: #A4A4A4;
  
    }
    .red{
      color: rgb(196, 41, 41);
    }
  }
  .caption{
    margin-top: 40px;
  }
  .incub-info{
    display: grid;
      gap: 3px;
  }
  .incub-info p{
  
  width: 602px;
  height: 363px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #A4A4A4;
  }
  .incub-info h3{
  
    width: 602px;  
    font-weight: 600;
    font-size: 35px;
    line-height: 33px;
    color: #01909A;
    }

    @media screen and (min-width:992px) and (max-width:1200px) {
   
    }
    
    @media screen and (min-width:768px)and (max-width:992px) {
      
        
    }
    @media screen and (min-width:500px)and (max-width:768px) {
     
      
    }
    @media screen and (min-width:360px)and (max-width:500px) {
     
      
    }