<section>
    <div class="box-img">
      <div class="layer">
        <h2>Incubation Name</h2>
      </div>
    </div>
  
    <div class="container">
      <div class="count">
        <div class="caption">
          <div class="incub-info py-4 ">
            <h3>Incubation Name</h3>
            <p class="py-3">lorem ipsum dolor sit amet consectetur adipiscing elit . lorem ipsum dolor sit amet consectetur adipiscing
              elit . lorem ipsum dolor sit amet consectetur adipiscing elit . lorem ipsum dolor sit amet consectetur
              adipiscing elit . lorem ipsum dolor sit amet consectetur adipiscing elit . lorem ipsum dolor sit amet
              consectetur adipiscing elit .lorem ipsum dolor sit amet consectetur adipiscing elit . lorem ipsum dolor sit
              amet consectetur adipiscing elit . lorem ipsum dolor sit amet consectetur adipiscing elit .</p>
              <button class="zrar">Next</button>
          </div>
        </div>
  
        <div class="mapp">
          <div class="heart">
            <i class="fa-solid fa-heart fa-2x red"></i>
            <i class="fa-solid fa-heart fa-2x red"></i>
            <i class="fa-solid fa-heart fa-2x red"></i>
            <i class="fa-solid fa-heart fa-2x"></i>
            <i class="fa-solid fa-heart fa-2x"></i>
          </div>
          <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=egypt&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-i.net">avengers infinity war 123movies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embed google map on website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
        </div>
      </div>
    </div>
  </section>
  