<section class="login">
    <div class="pictur ">
        <div class="layer"></div>
    </div>
    <div class="rightLogin">
        <div class="count">
            <div class="m-auto ">
            <img src="../../assets/imgs/login/logo color 1.png" alt="">
            </div>   
           <h6 *ngIf="errors" class="bg-danger  error ">{{errors}}</h6>

            <div class="forms">
                <form [formGroup]="RegisterPersonForm"  (ngSubmit)="supmitRegisterPerson(RegisterPersonForm)" action="">
                   
                    <div >
                        <input formControlName="displayName" class="name"placeholder="Full Name" type="text">
                        <div  *ngIf="RegisterPersonForm.controls['displayName'].errors&&RegisterPersonForm.controls['displayName'].touched " class="emailvalidtion">
                            <p *ngIf="RegisterPersonForm.controls['displayName'].errors['minlength']"> <span>*</span> FullName you must contain min length 3 </p>
                            <p *ngIf="RegisterPersonForm.controls['displayName'].errors['required']"> <span>*</span> FullName is required </p>
                            <p *ngIf="RegisterPersonForm.controls['displayName'].errors['maxlength']"><span>*</span> FullName you must contain Max length 20  </p>

                        </div>
                    </div>  

                    <div>
                        <input formControlName="phoneNumber" class="pass"placeholder="Phone Number" type="text">
                        <div  *ngIf="RegisterPersonForm.controls['phoneNumber'].errors&&RegisterPersonForm.controls['phoneNumber'].touched " class="emailvalidtion">
                            <p *ngIf="RegisterPersonForm.controls['phoneNumber'].errors['required']"> <span>*</span> Phone is required </p>
                            <p *ngIf="RegisterPersonForm.controls['phoneNumber'].errors['pattern']"><span>*</span>password is not valid   </p>

                        </div>
                    </div>
                   
                    <div>
                        <select formControlName="gevernorate" class="select ">

                            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
                          </select>
                        
                          
                    </div>
                    <div>
                        <input formControlName="city" class="pass"placeholder="City" type="text">
                        <div  *ngIf="RegisterPersonForm.controls['city'].errors&&RegisterPersonForm.controls['city'].touched " class="emailvalidtion">
                            <p *ngIf="RegisterPersonForm.controls['city'].errors['minlength']"> <span>*</span> city you must contain min length 3 </p>
                            <p *ngIf="RegisterPersonForm.controls['city'].errors['required']"> <span>*</span> city is required </p>
                            <p *ngIf="RegisterPersonForm.controls['city'].errors['maxlength']"><span>*</span> city you must contain Max length 20  </p>

                        </div>
                    </div>
                   
                    <div >
                        <input formControlName="email" class="email"placeholder="Email" type="email">
                        <div  *ngIf="RegisterPersonForm.controls['email'].errors&&RegisterPersonForm.controls['email'].touched " class="emailvalidtion">
                            <p *ngIf="RegisterPersonForm.controls['email'].errors['email']"> <span>*</span> Email is not valid </p>

                        </div>
                    </div>
                    
                    <div>
                        <input formControlName="password" class="pass"placeholder="password" type="password">
                        <div  *ngIf="RegisterPersonForm.controls['password'].errors&&RegisterPersonForm.controls['password'].touched " class="emailvalidtion">
                            <p *ngIf="RegisterPersonForm.controls['password'].errors['required']"> <span>*</span> password is not valid </p>
                            <p *ngIf="RegisterPersonForm.controls['password'].errors['pattern']"><span>*</span> You must Start Capital char and minumm 8 char  </p>

                        </div>
                    </div>
                   
                    <button [disabled]="RegisterPersonForm.invalid" class="btn">Next</button>
                    <p> Already have an account ?<span>  <a routerLink="/login"> Login </a> </span></p>
                </form>
            </div>
        </div>
       

    </div>
</section>