<section class="login">
    <div class="pictur ">
        <div class="layer">
            <div class="rightLogin">
                <div class="count">
                    
                    <div class="forms">
                        <form [formGroup]="BookForm" (ngSubmit)="supmitRegisterIncubation(BookForm)" action="">
                            <!-- <div  class="collection">

                            
                                <div id="drop" class="docHeader">
                                 <h3>Tybe1 </h3>
                                 <i id="down" class="fa-sharp fa-solid fa-chevron-down"></i>
    
                                </div>
                                <div id="info" class="infoDoctor">
                                    <div  class="inputCollection">
                                        <input class="email avilable"   value='available'     type="button">
                                        <input class="email avilable"   value='available'      type="button">
                                        <input class="email avilable"   value='available'     type="button">
                                        <input class="email unavilable" value='Unavailable'   type="button">
        
                                    </div>
                                </div> 
                            </div> -->
                            <!-- <div  *ngIf="BookForm.controls['available'].errors&&BookForm.controls['available'].touched " class="emailvalidtion">
                                <p *ngIf="BookForm.controls['available'].errors['required']"> <span>*</span> Name is required </p>
    
                            </div> -->

                            <div >
                                <input formControlName="motherName" class="name"placeholder=" Mather Name" type="text">
                                <div  *ngIf="BookForm.controls['motherName'].errors&&BookForm.controls['motherName'].touched " class="emailvalidtion">
                                    <p *ngIf="BookForm.controls['motherName'].errors['minlength']"> <span>*</span> Name you must contain min length 3 </p>
                                    <p *ngIf="BookForm.controls['motherName'].errors['required']"> <span>*</span> Name is required </p>
                                    <p *ngIf="BookForm.controls['motherName'].errors['maxlength']"><span>*</span> Name you must contain Max length 20  </p>
        
                                </div>
                            </div>  
                           
                           
                            <div >
                                <input formControlName="childName" class="email"placeholder="Child Name" type="text">
                                <div  *ngIf="BookForm.controls['childName'].errors&&BookForm.controls['childName'].touched " class="emailvalidtion">
                                    <p *ngIf="BookForm.controls['childName'].errors['minlength']"> <span>*</span> Name you must contain min length 3</p>
                                    <p *ngIf="BookForm.controls['childName'].errors['required']"> <span>*</span> Name is required </p>
                                    <p *ngIf="BookForm.controls['childName'].errors['maxlength']"><span>*</span> Name you must contain Max length 20  </p>
        
                                </div>
                            </div>
                            
                            <div>
                                <input formControlName="age" class="pass"placeholder="Date of birth" type="date">
                                <div  *ngIf="BookForm.controls['age'].errors&&BookForm.controls['age'].touched " class="emailvalidtion">
                                    <p *ngIf="BookForm.controls['age'].errors['required']"> <span>*</span> password is not valid </p>
                                    <p *ngIf="BookForm.controls['age'].errors['pattern']"><span>*</span> age is not valid  </p>
        
                                </div>
                            </div>
                             
                            <div>
                                <input formControlName="typeofIllness" class="pass"placeholder="Type of illness" type="text">
                                <div  *ngIf="BookForm.controls['typeofIllness'].errors&&BookForm.controls['typeofIllness'].touched " class="emailvalidtion">
                                    <p *ngIf="BookForm.controls['typeofIllness'].errors['required']"> <span>*</span> Tybe of illness is not valid </p>
                                    <p *ngIf="BookForm.controls['typeofIllness'].errors['pattern']"><span>*</span> You must contain minumm 5 char  </p>
        
                                </div>
                            </div>
                             
                            <div>
                                <input formControlName="phoneNumber" class="pass"placeholder="Phone Number" type="text">
                                <div  *ngIf="BookForm.controls['phoneNumber'].errors&&BookForm.controls['phoneNumber'].touched " class="emailvalidtion">
                                    <p *ngIf="BookForm.controls['phoneNumber'].errors['required']"> <span>*</span> phoneNumber is not valid </p>
                                    <p *ngIf="BookForm.controls['phoneNumber'].errors['pattern']"><span>*</span> You must Start 01  and  minumm 9 char  </p>
        
                                </div>
                            </div>
                             
                            <div>
                                <input formControlName="phoneNumberofDoctor" class="pass"placeholder="Doctor’s Phone Number" type="text">
                                <div  *ngIf="BookForm.controls['phoneNumberofDoctor'].errors&&BookForm.controls['phoneNumberofDoctor'].touched " class="emailvalidtion">
                                    <p *ngIf="BookForm.controls['phoneNumberofDoctor'].errors['required']"> <span>*</span> phoneNumber is not valid </p>
                                    <p *ngIf="BookForm.controls['phoneNumberofDoctor'].errors['pattern']"><span>*</span> You must Start 01  and  minumm 9 char   </p>
        
                                </div>
                            </div>
                            <div >
                                <input formControlName="bookerEmail" class="email"placeholder="Email" type="email">
                                <div  *ngIf="BookForm.controls['bookerEmail'].errors&&BookForm.controls['bookerEmail'].touched "class="emailvalidtion">
                                    <p><span>*</span> Email is not valid </p>
                                </div>
                                
                            </div>
                             <div class="imglayer">
                                <input accept="image/*" id="img"  (change)="onchange($event)"  formControlName="prescriptionUrl" class="pass d-none"placeholder="" type="file">
                                <label class="upimg text-center" for="img">
                                    <img [src]= 'imgsrc' >
                                    
                                    <p>Drode your prescription image here</p>
                                </label>
                                <!-- <img class="imgcont w-100" [src]="" > -->
                                <div  *ngIf="BookForm.controls['prescriptionUrl'].errors&&BookForm.controls['prescriptionUrl'].touched " class="emailvalidtion">
                                    <p > <span>*</span> Picture is required </p>
        
                                </div>
                            </div> 
                            
                            <button [disabled]="BookForm.invalid" (click)="destroyBaseUrl()" class="btn">Book</button>
                        </form>
                    </div>
                </div>
               
        
            </div>
        </div>
    </div>
   
</section>
