section{
    margin-top:85px  ;
    .count{
        display: flex;
    }
    .Categories{
        width: 316px;
        height: 929px;
        background: #FFFFFF;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 156px;
        padding: 60px;
    }
    .name{
        display: flex;
        justify-content: center;
        align-items: center;   
        width: 100px;
        height: 95px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 10px;
        color: #D9D9D9;
        margin-bottom: 20px;
    }
    .near{    
        margin: auto;
         padding: 60px;
        .item{
            position: relative;
           display: flex;
            width: 979px;
            height: 101px;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            margin-bottom: 20px;
            img{
                border-radius: 10px
            }
            h4{
                
            // width: 218px;
            height: 29px;
            margin-left: 10px;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #01909A;

            }
            p{
                
                
            width: 111px;
            height: 18px;
            margin-left: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #A4A4A4;

            }
            .svg{
                position: absolute;
                top: 50%;
                right: 1%;
            }
        }
    }
    h2,h3{

    margin-bottom: 25px;
    cursor: pointer;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #01909A;

    }
   h3{
   font-size: 20px;
   }
}
a{
    text-decoration: none;
}
.title{
    display: inline-block;
}
.scerch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.email{
padding: 21px;
width: 550px;
height: 47px;
border: 1px solid #A4A4A4 ;
color: #00FFEF !important;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
margin: 10px 0px;
}

.email:focus{

outline: none !important;
border-color: #00FFEF;
}
.email:focus::placeholder{
color: #00FFEF;

}
.email::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #A4A4A4;
opacity: 1; /* Firefox */
}
.tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
@media screen and (min-width:992px) and (max-width:1200px) {
    section .near .item{
       
        width: 854px;
      
    }
}

@media screen and (min-width:768px)and (max-width:992px) {
  
    section .near .item{
       
        width: 630px;
      
    }
    
}
@media screen and (min-width:500px)and (max-width:768px) {
    .near{
    padding: 10px !important;
    }
  section .near .item{
       
        width: 450px;
      
    }
    .email{
      width: 460px;  
    }
  
}
@media screen and (min-width:360px)and (max-width:499px) {
    .near{
        padding: 10px !important;
        }
      section .near .item{
           
            width: 336px;
          
        }
        .email{
          width: 340px;  
        }
  
}