
<section class="login">
    <div class="pictur ">
        <img src="../../assets/imgs/login/sucss.png" class="" alt="">
        <div class="layer"></div>
    </div>
    <div class="rightLogin">
        <div>
           
            <div class="forms">
                <div class="m-auto">
                    <img src="../../assets/imgs/login/logo color 1.png" alt="">
                </div>
                <p>Successfully The password has been changed</p>

                <a routerLink="/login" class="btn">Login</a>

            </div>
        </div>
       

    </div>
</section>