<section class="login">
    <div class="pictur ">
        <img src="../../assets/imgs/login/forgit.png" class="" alt="">
        <div class="layer"></div>
    </div>
    <div class="rightLogin">
        <div class='count' >
           
            <div class="forms">
                <h3>Forget password ?</h3>
                <p>Enter your email and we will sent your
                    verification code via email </p>
                <form [formGroup]="EmailForm" (ngSubmit)="supmitEmailForm()" action="">
                    <div >
                   
                            <input formControlName="Email" class="email"placeholder="Email" type="email">
                            <div  *ngIf="EmailForm.controls['Email'].errors&&EmailForm.controls['Email'].touched "class="emailvalidtion">
                                <p><span>*</span> Email is not valid </p>
                            </div>
                            
                    </div>
                   
                    
                    
                    <a class="btn" routerLink="/code">Continue</a>
                </form>
            </div>
        </div>
       

    </div>
</section>